/* ACCORDION STYLES */
.accordion .container {
  width: 45%;
  min-width: 50rem;}

.accordion .container .wrapper {
  background: grey;
  margin-bottom: 2rem;
  padding: 1.5rem 4rem;
  border-radius: .5rem;
  box-shadow: 0 1.5rem 2.5rem rgba(0,0,.2);
}
.toggle {
  width: 100%;
  background-color: transparent;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  cursor:pointer;
  font-weight: 500;
  padding: 1.5rem 0;
}

.content{
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.4;
  height: 0; /* initial state */
  overflow: hidden;
  transition: height 0.3s ease-out;
}

/* TAB STYLES */
.tabs {
  width: 45%;
  max-width: 50rem;
}
.tabs .nav-tab{
  display: flex;
  align-items: center;
  list-style: none;
}

.tabs .nav-tab li {
  padding: 1rem 1.5rem;
}

.tabs .tab-content {
  font-size: 1.3rem;
  line-height: 1.6;
}
.tabs .tab-content .tab-pane {
  display: none; /* inactive hidden */
}

.tabs .tab-content .tab-pane.active {
  display: block
}

/* Reveal on scroll */

.revealscroll{
  padding: 20rem 5rem;
  background: #004850;
  text-align: center;
}

.revealscroll .container {
  display:flex;
  justify-content: space-between;
  margin: 0 -1rem;
  padding-top: 2rem;
}
.reveal-card{
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  margin: 0 1rem;
  font-size: 2rem;
  line-height: 2.4;
}

.reveal {
  transform: translateY(150px); /* move out of the view on default */
  opacity: 0; /* hidden on default */
  transition: transform 2s ease-out, opacity 2s ease-out;
}

.reveal.active {
  transform: translate(0px);
  opacity: 1;
}

/* animate on slide */
.animateslide {
  padding-top:50rem;

}

.animateslide .list{
  font-size: 2rem;
  list-style: none;
  line-height: 2;
  margin-right: 0;
  right: 0;
  text-align: right;
}

.animateslide .list li {
  height: 4rem;
  display:flex;
  overflow: hidden;
  background: pink;
  border:1px solid black;
}

.animateslide .list li span {
  display: block;
  line-height: 4rem;
  font-size: 4rem;
  margin: 0.5rem;
  transform: translateY(200%);
  text-transform: uppercase;

}

.animateslide .list li span.active {
  transform: translateY(0%);
  transition: 1s ease-out;
}

/* Carousel */

.carousel-container{
  width: 90%;
  margin: 1rem auto;
  position:relative;
}
.carousel {
  border: 1px solid #ccc;
  height: 40rem;
  background: grey;
  overflow: hidden;
}

.carousel-container .slider {
  height: 100%;
  display:flex;
  width: 400%; /* stretches to 4 times normal as for four slides */
  /* transform: translate(-25%); this moves the slider to the left */
  /* transform: translate(25%); this moves the slider to the right */

}

.carousel-container .slider section {
  flex-basis: 100%;
  height: 100%;
  border:1px solid green;
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.carousel-container .slider {
  font-size: 4rem;
  position:relative;
  transition: all 0.3 ease-out;
}

.carousel-container .arrow {
  position:absolute;
  top: 50%;
  font-size: 3rem;
}

.carousel-container .arrow.left{
  left: 10px;
}

.carousel-container .arrow.right{
  right: 10px;
}

.carousel-container .page-controls {
  position:absolute;
  list-style: none;
  display:flex;
  margin: 0 auto;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -100%);
  transform-origin: center;
}

.carousel-container .pager {
  font-size: 0rem;
  margin: 0 1rem;
  background: pink;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor:pointer;
}

